#!upstart

description "Manage supervisor"

start on (local-filesystems and runlevel [2345])
stop on runlevel [!2345]

{% if supervisor_nofile %}
limit nofile {{supervisor_nofile}} {{supervisor_nofile}}
{% endif %}

respawn

exec {{supervisor_bin}} -c {{ supervisor_conf_file }} --nodaemon
